/* **********************************************************************
*
*
*   In order to over write your theme CSS you may need to add the !important mark at the end of the code.
*
*   eg. #apschema { font-size: 20px !important; color: #fffff !important; }
*
*
*************************************************************************/


#image_container {
}

#stars_container {
	width:160px;
	/*
	clear:both;
	*/
	padding: 0 0 0 150px;
}

#stars_container table {
	margin:0;
}

#stars_container p {
	text-align:center;
}

#author_meta_container {
	float:left;
}


/* the surrounding div */
#apschema {
	width:80%;
	margin:0 auto;
	
	
	
background: #e5e5e5; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U1ZTVlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmOWY5ZjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #e5e5e5 0%, #f9f9f9 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(100%,#f9f9f9)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e5e5e5 0%,#f9f9f9 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e5e5e5 0%,#f9f9f9 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e5e5e5 0%,#f9f9f9 100%); /* IE10+ */
background: linear-gradient(top,  #e5e5e5 0%,#f9f9f9 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-8 */



    -webkit-border-radius: 10px;
    
    border-radius: 10px;
    
border:#ddd thin solid;

padding:15px;
}

/* the product image */
#apschema_image {
	width:150px;
	margin:15px;
}

/* title */
#apschema_title {
	font-size:26px;
}

/* author */
#apschema_author {
	font-size:18px !important;
}

/* date */
#apschema_date {
	font-size:12px !important;
}

/* the table containing the stars */
#schema_rating_table {}

/* the div surrounding all the stars etc */
.apschema_stars_div {
}

/* contains all the stars and written rating */
.apschema_star_group {

}
.apschema_star_group img {
	display:inline-block;
}

/* the written version of the ratings */
.apschema_written_rating {}

/* the title Rating */
.apschema_rating_title {
}

/* the description */
#apschema_description {
	clear:both;
	}


/* summary/description title */
.apschema_summary_title {}

